<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/estilos.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/web.js"></script>
  </head>
  <body>
    <header data-role="header" class="header">
      <div class="cont--header">
        <figure class="logo">
          <h1 class="title">YuuSong</h1>
        </figure>
        <form method="get" class="formH">
          <fieldset class="content--Fieldset">
            <input type="search" placeholder="busca su siguiente musica" name="buscador" class="searchWeb">
          </fieldset>
        </form>
        <ul class="user">
          <li class="user--List jsOn">Mi Cuenta</li>
          <li class="user--List jsTwoo">Registro</li>
          <form class="user--Login">
            <fieldset class="user--Login--Fieldset">
              <input type="text" name="name" placeholder="usuario">
            </fieldset>
            <fieldset class="user--Login--Fieldset">
              <input type="password" placeholder="password">
            </fieldset>
          </form>
        </ul>
      </div>
    </header>
    <main> 
      <section class="profile">
        <header class="profile--Cont">
          <h2 class="title">Mi Profile "Edinson"</h2>
        </header>
        <label class="list--Cont--Title">Musicas escuchadas</label>
        <ul class="list--Cont">
          <li class="listas--song">
            <i class="el el-play-alt"></i> 
            Rock 
          </li>
          <li class="listas--song">
            <i class="el el-play-alt"></i> 
            Rock 
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>